/***************************/
/*  Elementos del Header   */

  .btn-search {
    right: 0 ;
  }

  .search{
    align-self: center;
    justify-content: flex-end;
  }


  .dropdown-item{
    display: inline;
  }

  .nav-ppal{
    background-color: black;
    text-decoration: none;
    color: white;
  
  }

  .imagen {
    width: 7%;
    height: auto;
  }

  .header-imagen{
    width: 100%;
  }

  
.link{
  align-self: center;
  justify-content: center;

}


  .avatar{
    max-width: 30px;
  }

  .cart{
    text-decoration: none;
    color: gray;
    
  }