/***************************/
/*  Elementos del Header   */

header{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content:center;
    margin:initial; 
    background-color: black;
   
    
  }
  
  .nav-header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0,5%;
    box-sizing: border-box;
    
  }
  
  .header-imagen {
    width: 200px;
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
  
  .buscador{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    
  }
  
  #input-buscar{
    padding:  5px 10px;
    box-sizing: border-box;
    font-size: 20px;
    width:  550px;
    color: #660708;
    text-align: left;
    border-radius: 10px;
  }
  
  header a{
    font-size: 20px;
    color:#d3d3d3;
    display: flex;
    padding: inherit;
    text-align: center;
    align-content: center;
    text-decoration: none;
  }
  
  i {
    font-size: 24px;
    color: #b1a7a6;
    align-content: center;
    padding: 2px;
    min-width: 50px;
    text-align: center;
  }