
<body>
    <%- include('partials/header.ejs')%>
    <br>
    <br>
    <section>
        <article class="productoCarrito">
            <div>
                <img src="../images/cat-malbec.jpeg" width="150" height="150">
            </div>
            <div class="descripcionCarrito">Vino Catena Zapata - Malbec 2018</div>
            <div>
                <span class="price">$1500,00</span>
                <small>C/u.</small>
                <p>Eliminar</p>
            </div>
            
        </article>
    <br>
    
    <br>

    </section>
    <section>
        <article class="confirmacionCompra">
            <div>
                <span class="price"> Total $1500,00</span>               
                <input type="button" class="buy-button" value="Comprar">
            </div>            
        </article>
    </section>

</body>
</html>