<%- include('partials/header.ejs')%>
<div class="contacto">
 <div class="login">
    <h2>CONTACTO</h2>
        <br>
        <br>       
        <section >        
            <form class='formulario' action="" method="POST">
                <div class='inputForm'>
                    <i class="fas fa-envelope icon"></i>    
                    <input id="email" name="email" type="email" placeholder="Ingrese su Email">
              
                </div>
                <div class='inputForm'>
                    <textarea name="textArea" rows="8" cols="25" placeholder="Escribe aquí tus comentarios"></textarea>
                
                </div>
                <button class='submitLogin' type="submit" value='Ingresar'>Enviar</button>
            </form>
        </section>  
        </div>
 <div class="imgContacto">
     <img  src="/images/catenaLogoFN.jpeg" class="header-imagen"><br>
     <br>
     <h5>NOS PONDREMOS PRONTO EN CONTACTO</h5>
 </div>
</div>