<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=4.0, minimun-scale=1.0">
    <title>Catena Zapata - Detalle</title>
  </head>
  <body>
    <div class="container">
    <header>
      <nav class="nav-header">
        <div class="imagen">
          <img src="../images/catenaLogoFN.jpeg" class="header-imagen">
        </div>
        <div class="buscador">
          <input type="text" id="input-buscar" placeholder="Que desea tomar ?" />
          <a href="#"><i class="fas fa-search"></i> Buscar </a>
        </div>
        <div class="carrito">
           <a href="#"><i class="fas fa-shopping-cart"></i> Carrito </a>
        </div>
        <div class="usuarios">
          <a href="#"><i class="fa fa-user"></i> Usuarios </a>
       </div>
      </nav>
    </header>
   
    <div>  
      <div class="banner"></div>
      
      <nav class="nav-menu">
        <a href="" class="nav-a">Principal</a>
        <a href="" class="nav-a">Empresa </a>
        <a href="" class="nav-a">Productos</a>
        <a href="" class="nav-a">Contacto </a>
        <a href="" class="nav-a">Ubicacion </a>
      </nav>

    <section>
      <article class="art-det">
      <div class="det-prod">
     
        <div class="img-prod">
          <img id="img-prod-det" src="../images/catenamalbec.jpg" alt="">
        </div>
        
        <div class="buy-prod">
            <span class= "title">Vino Catena Zapata - Malbec 2018</span> 
            <br><br>
            <span>Precio x unidad:</span>
            <span class="price">$1500,00</span>
            <br>
            <span class="cuotas">3 cuotas sin interes de $500</span>
            <br/>
            <span>Cantidad</span>
            <select id="car-cantidad" name="car_cant" class="car-cant">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>            
            <br>

            <br><br> <br>
            <input type="button" class="car-button" value="Agregar al carrito">
            <input type="button" class="buy-button" value="Comprar">
            <br>
            <br>
            <small>Puede abonar con su tarjeta de Debito/Credito sin Intreres</small>
       </div>
      </div>
      <div class="desc-prod">
        <h2 class="titulo-Vino">Catena Malbec -2018</h2>
        <h5>INFORMACIÓN TÉCNICA</h5>
        <p> Varietal: 100% Malbec <br> Alcohol: 13.6% <br> Acidez Total: 5.25 gramos/litro <br> pH: 3.7</p>
        <h5>DESCRIPCIÓN DEL VINO</h5>
        <p>Los vinos Catena son el resultado de cortes especiales de diferentes viñedos de la familia Catena, elaborados por Laura Catena, cuarta generación de viticultores, y Alejandro Vigil, Enólogo Jefe de Catena Zapata. Si bien los vinos Catena pueden consumirse en el momento de su lanzamiento, han demostrado tener un maravilloso potencial de guarda, de entre diez y veinte años. Luego de varias décadas de estudio e investigación de los diferentes microclimas de altura de Mendoza, la familia Catena ha identificado las mejores zonas para la plantación de los viñedos de la familia. Este vino, corte de dichos viñedos históricos, es un Malbec de carácter único, de excelente tipicidad, balance y concentración.</p>
         <h5>VINIFICACIÓN</h5> 
         <p>5 días de maceración en frío pre-fermentativa a 8,8ºC para mayor extracción de aromas. 12 días de fermentación. 19-22 días de maceración post-fermentativa. Levaduras indígenas. Añejamiento: 12 meses en roble. Selección de roble en función del viñedo y las características de la cosecha. Barricas de primer, segundo y tercer uso.</p>
      </div>
    </article>
    </section>
  </div>
    <footer>
       Footer
    </footer>
  </div>
  </body>
</html>
