   
   <%- include('partials/header.ejs')%>

      <section class="cuerpo">
        <section class="costado-izq"> 
          <div class="a-costado"> 
           <ul >
            <h4 class="cepas">Linea por Cepas</h4>
            <br>
            <li><a href=""class="lista">Cabernet Frank</a></li>
            <li><a href=""class="lista">Cabernet Suavignon</a></li>
            <li><a href=""class="lista">chardonnay</a></li>
            <li><a href=""class="lista">Malbec</a></li>
            <li><a href=""class="lista">Sauvignon Blanc</a></li>
            <li><a href=""class="lista">Linea DV Catena</a></li>
           </ul>
         </div>
        </section>
        <section class="costado-der">

          <div class="titulo-productos"><h2 class="formato-texto">Lista de Productos</h2></div>
          
          <section class="list-prod">
            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="./products/detProducto"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>
            

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>


                          
          </section>     
         
        </section>
      </section>
    </div>  
    <footer>
       Footer
    </footer>
  </div>
  </div>
  </body>
</html>
