<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel='stylesheet' href="css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=4.0, minimun-scale=1.0">
    <title>Catena Zapata Vinos</title>
  </head>
  <body>
    <div class="container"></div>
    <header>
      <nav class="nav-header">
      <div class="imagen">
        <img src="/images/catenaLogoFN.jpeg" class="header-imagen">
      </div>
      <div class="buscador">
        <input type="text" id="input-buscar" placeholder="Que desea tomar ?" />
        <a href=""><i class="fas fa-search"></i> Buscar </a>
      </div>
      <div class="carrito">
         <a href="#"><i class="fas fa-shopping-cart"></i> Carrito </a>
      </div>
      <div class="usuarios">
        <a href="./login.ejs"><i class="fa fa-user"></i> Usuarios </a>
     </div>
    </nav>
      </header>



      
      <div>  
      <div class="banner"></div>
      
      <nav class="nav-menu">
        <a href="" class="nav-a">Principal</a>
        <a href="" class="nav-a">Empresa </a>
        <a href="" class="nav-a">Productos</a>
        <a href="" class="nav-a">Contacto </a>
        <a href="" class="nav-a">Ubicacion </a>
      </nav>

      <section class="cuerpo">
        <section class="costado-izq"> 
          <div class="a-costado"> 
           <ul >
            <h4 class="cepas">Linea por Cepas</h4>
            <li><a href=""class="lista">Cabernet Frank</a></li>
            <li><a href=""class="lista">Cabernet Suavignon</a></li>
            <li><a href=""class="lista">chardonnay</a></li>
            <li><a href=""class="lista">Malbec</a></li>
            <li><a href=""class="lista">Sauvignon Blanc</a></li>
            <li><a href=""class="lista">Linea DV Catena</a></li>
           </ul>
         </div>
        </section>
        <section class="costado-der">

          <div class="titulo-productos"><h2 class="formato-texto">Lista de Productos</h2></div>
          
          <section class="list-prod">
            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>
            

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>


                          
          </section>     
         
        </section>
      </section>
    </div>  
    <footer>
       Footer
    </footer>
  </div>
  </body>
</html>
