<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catena Zapata - Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">

        <header>
            <nav class="nav-header">
            <div class="imagen">
              <img src="/images/catenaLogoFN.jpeg" class="header-imagen">
            </div>
            <div class="buscador">
              <input type="text" id="input-buscar" placeholder="Que desea tomar ?" />
              <a href=""><i class="fas fa-search"></i> Buscar </a>
            </div>
            <div class="carrito">
               <a href="#"><i class="fas fa-shopping-cart"></i> Carrito </a>
            </div>
            <div class="usuarios">
              <a href="./login.ejs"><i class="fa fa-user"></i> Usuarios </a>
           </div>
          </nav>
            </header>


    <div class="login">
        <h2>Ingreso de usuario</h2>
            <br>
           
            <section>
                <form class='formulario' action="" method="POST">
                    <div class='inputForm'>
                        <i class="fas fa-envelope icon"></i>    
                        <input id="email" name="email" type="email" placeholder="Ingrese su Email">
                  
                    </div>
                    <div class='inputForm'>
                        <i class="fas fa-key icon"></i>
                        <input id="password" name="password" type="password" placeholder="Contraseña">
                    
                    </div>
                    <button class='submitLogin' type="submit" value='Ingresar'>Ingresar</button>
                </form>
                <a href="">Recuperar Contraseña</a></small>
                <a href="">Registrarse</a></small>
            
            </section>
    </div>

    <footer>
        Footer
     </footer>

</div>
    
</body>
</html>