<body>
    <%- include('partials/header.ejs')%>

    <div class="login">
        <h2>Nuevo Producto</h2>  
        <br>                    
            <section>
                <form class='formulario' action="" method="POST">
                    <div class='inputForm'>                          
                        <input id="producto" name="producto" type="text" placeholder="Nombre del producto" required>
                    </div>
                    <div class='inputForm'>
                        <input id="descripcion" name="descripcion" type="text" placeholder="Descripcion" required>
                    </div>
                    <div class='inputForm'>
                        <input id="imagenDelProducto" name="imagenDelProducto" type="img" placeholder="Imagen del producto" required>
                    </div>
                    <div class='inputForm'>
                        <input id="categoria" name="categoria" type="text" placeholder="Categoria" required>
                    </div>
                    <div class='inputForm'>
                        <input id="precio" name="precio" type="number" placeholder="Precio" required>
                    </div>
                    <button class='submitLogin' type="submit" value='guardar'>Guardar</button>
                </form>           
            </section>
    </div> 
    </div>
    <br>
    <br>
    <br> 
    <%- include('partials/footer.ejs')%>   
</body>


