<%- include('partials/header.ejs')%>
<div class="container">  
   <div class="banner"></div>
   
   <div class="cuerpo">
      <section class="list-menu"> 
        <ul >
          <li><a href=""class="lista">Perfil</a></li>
          <li><a href="/administrador/registerAdmin"class="lista">Cargar Usuario Administrativo</a></li>
          <li><a href="/products/newProduct"class="lista2">Cargar Nuevo Producto</a></li>            
          
        </ul>   
      </section>    
      <div class="carousel-container">
  
         <div class="container-links">
         </div> 
     


         <div class="row row-cols-1 row-cols-md-3 g-3">
           
         </div>








         
      </div>
   </div>
</div> 
<%- include('partials/footer.ejs')%>


