<%- include('partials/header.ejs')%>

<body>
    
<div class="login">
    <h2>Registro de Usuario</h2>  
    <br>  
    <% if (typeof errors!= 'undefined') { %>
        <p style="color:black">ERROR</p>
     <br>  
    <ul>
        <%for (let i =0 ; i< errors.length ; i++){%>
        <li style="color:red">
            <%=errors[i].msg%>
        </li>
        <% } %>    
    </ul>  
    <% } %>
    <br>     
            <section>
                <form class='formulario' action="" method="POST">
                    <div class='inputForm'>
                        <i class="fa fa-user icon"></i>    
                        <input id="apellido" name="apellido" type="text" placeholder="Apellido">
                    </div>
                    <div class='inputForm'>
                        <i class="fa fa-user icon"></i>    
                        <input id="nombre" name="nombre" type="text" placeholder="Nombre">
                    </div>  
                    <div class='inputForm'>
                        <i class="fas fa-envelope icon"></i>    
                        <input id="email" name="email" type="email" placeholder="Ingrese su Email">
                    </div>
                    <div class='inputForm'>
                        <i class="fas fa-key icon"></i>
                        <input id="password" name="password" type="password" placeholder="Contraseña">
                    
                    </div>
                   
                    <div>
                        <input class="terminos" type="checkbox" required> <small> Acepto terminos y condiciones   </small>
                      </div>
                    <div class="buttons">
                        <button class='submit' type="reset" value='limpiar'>Borrar</button>
                        <button class='submit' type="submit" value='cargaDatos'>Registrar</button>
                    </div> 
                </form>
            
            </input>
            </section>
        </div>
        </div>
        <br> 
        <br> 
        <br> 
        <%- include('partials/footer.ejs')%>
    </body>

</html>