<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=4.0, minimun-scale=1.0">
    <title>Catena Zapata</title>
  </head>
  
  <footer>
    <nav class="nav-menu">
      <a href="/empresa" class="nav-a">Empresa </a>
      <a href="/contacto" class="nav-a">Contacto </a>
      <a href="/ubicacion" class="nav-a">Ubicacion </a>
    </nav>
   
  </footer>