
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=4.0, minimun-scale=1.0">
    <title>Catena Zapata</title>
  </head>
  
<body>
<div class="container">
    <header>
      <nav class="nav-header">
        <div class="imagen">
          <a href="/ " ><img  src="/images/catenaLogoFN.jpeg" class="header-imagen"> </a>
        </div>
        <div class="buscador">
          <input type="text" id="input-buscar" placeholder="Que desea tomar ?" />
          <a href=""><i class="fas fa-search"></i> Buscar </a>
        </div>
        <div class="carrito">
          <a href="/cart"><i class="fas fa-shopping-cart"></i> Carrito </a>
        </div>
      
        <% if( typeof usuarioLogueado != 'undefined'){ %> 
          <div class="usuarios">
            <div class ="navUsuarios">
             
             <ul class="esconder">
              <li><i class="fa fa-user"> <%=locals.usuarioLogueado.email%> </i></li>
               <li class="listaNav"><a href="/products">administrador</a></li>
               <li class="listaNav"><a href="/logout">cerrar session</a></li>
             </ul>  
            </div>                       
          </div>
          <% } else { %> 
          <div class="usuarios">
            <a href="/users/login"><i class="fa fa-user"></i> Usuarios </a>
         </div>
         <% } %> 
     </nav>
    </header>
  </body>
