<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleven Wines - Login</title>
    <link rel="stylesheet" href="./Design/Css/style.css">
</head>
<body>
    <div class="login">
        <h2>Login</h2>
            <br>
            <form action=“Login.html” method=“POST”>
            <p>
                <label for=“email”>Email:</label>
                <input type=“email” id=“email” name=“email”  required>
            </p>
          
            <p>
                <label for="Contrasena">Clave:</label>
                <input type="password" id="Contrasena" name='Contrasena' required>
            </p>
            <small><a href="">Recuperar Contraseña</a></small>
            <p>
                <button class="submitLogin"type=“submit”>Enviar</button>
            </p>
            <small><a href="">Registrarse</a></small>
            </form>        
    </div>
    
    
</body>
</html>